<div>
    <h1><u>Login</u></h1><br>
</div>

<h2><%= link_to "Log in with Google", '/auth/google_oauth2' %></h2>

<h4>or<h4>

<h2><%= link_to "Log in with your email", login_path %></h2><br><br>

<h2><%= link_to "New to the site?  Create an account here!", '/users/new' %></h2>