<div>
    <h3>Login</h3>
</div>

<%= link_to "Log in with Google", '/auth/google_oauth2' %>

<h4>or<h4>

<%= link_to "Log in with your email", users_signin_path %>

<%= link_to "New to the site?  Create an account here!", '/users/new' %>